.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    background: var(--black);
   
    padding-inline: 1.25rem;
}

.nav {
   /*  padding-block: 1.5rem; */
    display: flex;
}


.nav a{
    font: var(--button);
    color: var(--grey);
    text-decoration: none;
    padding-block: 1.5rem;
    padding-inline-start: 2.5rem;
}

.nav a.is-selected {
    border-bottom: 4px solid white;
    color: var(--white);
    inline-size: 165px;
    text-align: center;
    padding-inline-start: 0;
}

.nav a:nth-of-type(2) {
    padding-inline-start: 0;
}