@import "./header.css";
@import "./wrapper.css";
@import "./hero.css";
@import "./checkout.css";
@import "./purchases.css";
@import "./packages.css";
@import "./sticky.css";
@import "./button.css";
@import "./less-logging.css";
@import "./testimonials.css";
@import "./signUp.css";
@import "./footer.css";

:root {
  --white: #ffffff;
  --grey: #808080;
  --black: #000000;
  --green: #2fb464;
  --headline3: 800 2.875rem/3.5rem Inter;
  --headline2: 700 3rem/3.625rem Inter;
  --headline4: 700 1.75rem / normal Inter;
  --headline5: 700 1.5625rem / normal Inter;
  --button: 700 1.125rem/1.75rem Inter;
  --caption: 400 0.75rem/1.375rem Inter;
  --body1-regular: 400 1.125rem/1.6875rem Inter;
  --body1-bold: 700 1.125rem/1.6875rem Inter;
  --body2-regular: 400 1rem/1.375rem Inter;
  --body2-bold: 700 1rem/1.1875rem Inter;
  --iphoneInlineSize: 400px;
  --gridTemplateColumns: 1fr var(--iphoneInlineSize) 1000px 1fr;
}

body {
  font: var(--body1-regular);
  margin: 0;
}

.phone {
  display: none;
}

/* section {
  block-size: 500px;
} */

.grid {
  display: grid;
  grid-template-columns: var(--gridTemplateColumns);
  grid-template-areas: "header header header header" "wrapper-start phone content wrapper-end";
}

.grid section {
  grid-column: 1 / -1;
}

@media screen and (max-width: 1400px) {
  :root {
    --gridTemplateColumns: auto var(--iphoneInlineSize) 1fr auto;
    --iphoneInlineSize: 300px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --gridTemplateColumns: auto auto 1fr auto;
    --headline3: 700 1.75rem / normal Inter;
    --body1-regular: 400 1rem/1.375rem Inter;
    --headline2: 700 1.5625rem / normal Inter;
  }

  .phone {
    display: block;
    z-index: 2;
    user-select: none;
  }

  .phone img{
    user-select: none;
  }


  .sticky {
    display: none;
  }
}
