.sticky {
    position: sticky;
    inset-block-start: 0;
    grid-area: phone;
    padding-block-start: 6.75rem;
    cursor: pointer;
    inline-size: var(--iphoneInlineSize);
}

.sticky:active {
    transform: scale(.99);
}

.sticky img {
    inline-size: 100%;
}

.phone {
    align-self: center;
    cursor: pointer;
    inline-size: var(--iphoneInlineSize);
}

.phone img {
    inline-size: 100%;
}